/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(24, 24, 28);
}

.dorado {
    color: rgb(159, 142, 98);
}

.centrar {
    display: flex;
    justify-content: center;
}

/*--------------NavBar------------*/
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Asegura que la barra de navegación esté por encima de otros elementos */
    background-color: rgba(255, 255, 255, 0);
    /* Cambia el valor alpha para ajustar la transparencia */
}



/*----------Home-------------*/
.bg-image {
    position: relative;
    background-image: url('/images/trucos-usan-casinos-gastes-dinero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 650px;
    /* Ajusta el valor según tus necesidades */
    color: rgb(229, 206, 182);
    /* Cambia el color del texto */
    text-align: center;
    /* Alinea el texto al centro */
}

/* Superpone un div semi-transparente encima de la imagen */
.overlay {
    padding: 200px;
    /* Ajusta el valor según tus necesidades */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, rgba(24, 24, 28, 0), rgba(24, 24, 28, 1));
    /* Ajusta el valor alpha para ajustar la opacidad */
}

/* Estilos para el texto */
.bg-image h2 {
    color: rgb(220, 143, 105);
    font-size: 32px;
    /* Tamaño de fuente */
}

.bg-image h1 {
    font-family: 'Cinzel';
    color: rgb(159, 142, 98);
    font-size: 50px;
    /* Tamaño de fuente */
    margin-bottom: 20px;
    /* Espacio entre el texto y el borde inferior de la imagen */
}

.btn-dorado {
    background-color: rgb(159, 142, 98);
}

.btn-dorado:hover {
    background-color: rgb(87, 76, 48);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas con el mismo ancho */
    gap: 50px;
    /* Espacio entre los elementos */
}