/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(24, 24, 28);
}

section {
    margin-top: 170px;
}

.dorado {
    color: rgb(159, 142, 98);
}

.centrar {
    display: flex;
    justify-content: center;
}

/* Estilo no aplicado */
.botonGeneral {
    background-image: linear-gradient(to right, rgb(131, 111, 62), rgb(153, 153, 106));
}

.botonGeneral:hover {
    background-image: linear-gradient(to right, rgb(136, 110, 46), rgb(156, 156, 79));
}

/*--------------NavBar------------*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    /* Fondo inicialmente transparente */
    transition: background-color 0.3s ease;
    /* Transición suave */
    z-index: 1000;
    /* Asegurar que la barra de navegación esté por encima de otros elementos */
}

.navbar.opaque {
    background-color: rgb(24, 24, 28, 0.8);
}


/*----------Home-------------*/
.bg-image {
    position: relative;
    background-image: url('/storage/images/trucos-usan-casinos-gastes-dinero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 650px;
    /* Ajusta el valor según tus necesidades */
    color: rgb(229, 206, 182);
    /* Cambia el color del texto */
    text-align: center;
    /* Alinea el texto al centro */
}

/* Superpone un div semi-transparente encima de la imagen */
.overlay {
    padding: 200px;
    /* Ajusta el valor según tus necesidades */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, rgba(24, 24, 28, 0), rgba(24, 24, 28, 1));
    /* Ajusta el valor alpha para ajustar la opacidad */
}

/* Estilos para el texto */
.bg-image h2 {
    color: rgb(220, 143, 105);
    font-size: 32px;
    /* Tamaño de fuente */
}

.bg-image h1 {
    font-family: 'Cinzel';
    color: rgb(159, 142, 98);
    font-size: 50px;
    /* Tamaño de fuente */
    margin-bottom: 20px;
    /* Espacio entre el texto y el borde inferior de la imagen */
}

/* Estilo no aplicado */
.btn-dorado {
    background-color: #9F8E62;
}


.btn-dorado:hover {
    background-color: rgb(87, 76, 48);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas con el mismo ancho */
    gap: 50px;
    /* Espacio entre los elementos */
}